<style>
nav, .nav-links {
	display: none;
}
</style>

<div class="lab-top">
	<div class="maxWidth">
	<div class="dot-overlay">
		<nav class="nav" style="display:block;">
		<p class="logo-s"><%= link_to '', root_path %></p>
		<p><%= link_to 'SUIT UP.', suitup_index_path  %></p>
		<p><%= link_to 'TRAINERS.', trainers_path  %></p>
		<p><%= link_to 'THE LAB.', thelab_index_path  %></p>
		<p><%= link_to 'STORE.', store_index_path  %></p>
	</nav>
	<div class="nav-links" style="display:block;">
		<p><%= link_to 'REGISTER.', register_index_path, :class => 'btn2'  %></p>
		<p><a class="btn">TESTIMONIALS.</a></p>
	</div>
	<div class="lab-logo" style="margin-bottom: 20px; margin-top: 20px;"></div>
	<div class="labtop-l">
		<p style="margin-top: 0;"><b>Welcome To The Lab</b></p>
		<p>Many of our members have already discovered the benefits of working with a personal trainer. From designing a customized workout plan to providing ongoing motivation and support, personal trainers are dedicated to helping you achieve your specific fitness goals. Every member receives a complimentary one hour fitness assessment with our training staff.</p>
	</div>
	<div class="labtop-r">
		<p><b>"Quitters Never Win. And <b style="color:#f7941e;"><i>Winners</i></b> Never Quit"</b></p>
	</div>

 	</div>
 </div> <!-- end of maxW -->

</div>
<div class="home-bg">

	<div class="lab-mid">
	<!-- <p class="lab-title"><b style="color:#f7941e; text-shadow: 0px 0px 7px black; font-size: 70px;">5</b> Reasons to have<br>a Personal Trainer.</p> -->
		<div class="lab-rgba2">
		<!-- <p>1.<u>Mix it Up Cross Training</u>. Trainers use a variety of workouts based on your specific goals.</p>
		<p>2.<u>Teachings VS Showing</u>. Instead of showing you how to use exercise machines, we will teach you principles that will stay with you for life.</p>
		<p>3.<u>Set a Pace</u>. Trainers will teach you what pace and intensity level is required to get into shape.</p>
		<p>4.<u>Turn weakness into strength</u>. Trainers find your weaknesses and strangths to develop a program specific to your needs.</p>
		<p>5.<u>Accountability</u>. Trainers provide necessary accountability and motivation.</p> -->
	</div>
</div>

<div class="lab-bot">
	<p class="lab-title2">BOOKING</p>
	<div class="lab-bdiv lab-rgba">
		
		<p><b style="color:#f7941e; text-shadow: 2px 2px black;"><i>Register</i></b> to our MindBodyOnline.</p>
		<br>
		<p>Purchase a class.</p>
		<br>
		<p>Book your classes for the week.</p>
		<br>
		<p>If you do not see an option to sign up, it is because the class is sold out with a full wait list or because sign ups are not yet open for the week. We open sign ups on a rolling 7 day notice.</p>
		<br>
		<p>We accept walk-ins, pending avaliability.</p>
		<br>
		<p>Your best bet is to sign up in advance or email us with any questions.</p>
		<br>
		<p>Make sure you claim that spot! If you sign up in advance, we've got a bunk with your name on it. Get booked by the instructor, so that we know you’re here. <b style="color:#f7941e; text-shadow: 2px 2px black;"><i>Note:</i></b> <b><i>If you’re not signed in 5 minutes before your class, you may get locked out of session.</i></b></p>
		<br>
		<p>Nothing’s worse than a last minute arrival! Do yourself a favor and come to the gym 10 minutes before class starts. Be sure to let the trainer know you’re a first-timer and we’ll get you up to speed.</p>
	</div>
	<p class="lab-title2">WALK INS</p>
	<div class="lab-bdiv lab-rgba">
		
		<p><b style="color:#f7941e; text-shadow: 2px 2px black;"><i>Unfortunately,</i></b> <b><i>we can only accommodate those who are on the class list.</i></b> We have a one-in, one-out wait list policy. The moment someone in class cancels their reservation, we send and email and call clients who are first on the waiting list. Please respond or give us a call back to guarantee your spot in the class.</p>
	</div>
	<p class="lab-title2">BODY MAINTENANCE</p>
	<div class="lab-bdiv lab-rgba">
		
		<p><b style="color:#f7941e; text-shadow: 2px 2px black;"><i>Drink, drink, drink!</i></b> The key to a healthy body is staying hydrated. So be sure to have water before, during, and after your bootcamp.</p>
		<p>You heard it from your mom: be sure to eat a little something before you exercise. We recommend eating a light snack 45 minutes before you ride.</p>
	</div>
	<p class="lab-title2">STAYING ALIVE</p>
	<div class="lab-bdiv lab-rgba">
		
		<p><b style="color:#f7941e; text-shadow: 2px 2px black;"><i>Fidonce</i></b> is a full-body workout and like any new fitness routine, you may want to chat with your doctor before your first class. Also, if you’re new to <b style="color:#f7941e; text-shadow: 2px 2px black;"><i>Fidonce</i></b> or to a particular instructor, please let us know – we are happy to answer any questions.</p>
		<p>Our motivational trainers are leaders who will inspire you to push yourself, but please listen to your body and work at a pace that is comfortable for you.</p>
	</div>

</div>

</div>

<style type="text/css">
	@media (max-width: 990px){
		.lab-top {
		height: 1400px;
		
		
		}
		.dot-overlay {
			padding-top: 300px;
			height: 1100px;

		}
		.nav {
			display: none !important;
		}
		.nav-links {
			display: none !important;
		}
		.lab-logo {
			margin-top: 50px !important;
			height: 250px;
		}
		.labtop-l {
			float: none !important;
			display: block;
			margin: auto !important;
			width: auto !important;
			padding: 30px 100px 30px 100px !important;
			height: auto !important;
			font-size: 42px !important;
		}
		.lab-top .labtop-l p:nth-child(1) {
			font-size: 38px !important;
		}
		.labtop-r {
			height: auto !important;
		}
		.lab-top .labtop-r p {
			width: auto !important;
			padding: 50px !important;
			font-size: 88px !important;
		}
		.lab-title {
			font-size: 80px !important;
		}
		.lab-bot {
			height: auto !important;
		}
		.lab-mid {
			height: auto !important;
		}
		.lab-rgba {
			padding: 50px !important;
		}
	}
</style>