<style>
nav, .nav-links {
	display: none;
}


}
</style>

<div class="suitup-top">

<div class="dot-overlay">
	<nav class="nav2">
		<p class="logo-s"><%= link_to '', root_path %></p>
		<p><%= link_to 'SUIT UP.', suitup_index_path  %></p>
		<p><%= link_to 'TRAINERS.', trainers_path  %></p>
		<p><%= link_to 'THE LAB.', thelab_index_path  %></p>
		<p><%= link_to 'STORE.', store_index_path  %></p>
	</nav>
	<div class="nav-links2">
		<p><%= link_to 'REGISTER.', register_index_path, :class => 'btn2'  %></p>
		<p><a class="btn">TESTIMONIALS.</a></p>
	</div>
		<div class="s-top-container">
			<p class="s-top-left"> During Your Initial <i style="color: #f7941e;">FREE</i> Session</p>
			<div class="s-top-right">
				<p class="s-top-r2"><u style="font-weight:900;">PERSONAL TRAINING SESSIONS RATES</u><br><br>Many of our members have already discovered the benefits of working with a personal trainer. From designing a customized workout plan to providing ongoing motivation and support, personal trainers are dedicated to helping you achieve your specific fitness goals. Every member receives a complimentary one hour fitness assessment with our training staff.</p>
			</div>
		<div>
	</div>
</div>
</div>
</div>

<div class="rates-container">
	<p><u>PRICES</u></p>
	<p>There are a variety of paths to train at FiDonce and we can help you choose the right one.</p>
	<p><u>Individual Training Rates</u></p>

	<div class="rates-left" style="background-image: url(https://s3.amazonaws.com/testingaws123/smallboxes_Fidonceweb.jpg);">
		
	</div>
	<div class="rates-right">
		<p><u>Personal Training</u></p>
		<p>Email for Details: info@fidonce.com</p>
	</div>
	<br>
	<div class="rates-left" style="background-image: url(https://s3.amazonaws.com/testingaws123/smallboxes_Fidonceweb.jpg);">
	
	</div>
	<div class="rates-right">
		<p><u>Strength Training</u></p>
		<p>Email for Details: info@fidonce.com</p>
	</div>
	<br>
	<div class="rates-left" style="background-image: url(https://s3.amazonaws.com/fidonce/smallboxes_Fidonceweb3.jpg);">
		
	</div>
	<div class="rates-right">
		<p><u>Sports Court Rental</u></p>
		<p>Email for Details: info@fidonce.com</p>
	</div>
</div>